body {
  font-family: 'Inter', sans-serif;
}

.email-obfuscate::after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}

.footer-icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}