body {
    background-color: beige;
    margin: 0% 10% 0% 10%;
}

nav a {
    text-decoration: none;
}

#hero > h1 {
    margin-bottom: 0%;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#socials {
    display: flex;
}

.item {
    padding-left: 10px;
}

.logo {
    text-decoration: none;
}

#cv {
    font-size: 2rem;
    text-decoration: underline;
}

#hero svg {
    width: 2.5rem;
}

#subtitle {
    font-size: smaller;
}

#about img {
    width: 15vmax;
    float: right;
    padding: 10px 10px 10px 10px;
}

#about #bio p {
    font-size: larger;
}

#projects summary {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

#projects .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 620px) {
    #projects .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

#projects .grid-container>div {
    padding: 7px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 1px;

    img {
        width: 80%;
        border-style: solid;
        border-color: darkblue;
        border-width: 5px;
        border-radius: 5px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

#skills>div {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    div {
        padding: 0px 0% 0px 0%;
        font-size: larger;
    }
}

@media only screen and (max-width: 620px) {
    #skills>div {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}